header {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 20% 70% 10%;
    background-color: #003554;
    justify-items: center;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
ul li {
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}