.form--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #79ADDC;
}
fieldset {
    width: 320px;
    height: 300px;
    padding: 5px;
    margin: 20px 0px;
    background-color: #fff;
    border: solid 4px #003554;
    border-radius: 30px;
}
legend {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input--form {
    width: 180px;
    height: 20px;
    padding: 3px;
    border: solid 2px #938BA1;
    border-radius: 10px;
}
.form--btn {
    border: none;
    background-color: #79ADDC;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
}

/*
        @include sizes(320px, 300px);
        @include paddingMarginBGC (5px, 20px 0px, $terciario);
        border: solid 3px $primario;
        border-radius: 30px;
*/